<div class="links">
    <!--implementamos el enrutamiento con los routerLink-->
    <div class="link" [routerLink]="['stream']">
        <img src="../../../../assets/img/twitch.png" alt="">
        <h2>Streams</h2>
    </div>

    <div class="link" [routerLink]="['games']">
        <img src="../../../../assets/img/steam.png" alt="">
        <h2>Games</h2>
    </div>

    <div class="link" [routerLink]="['news']">
        <img src="../../../../assets/img/upcoming.png" alt="">
        <h2>News</h2>
    </div>

    <div class="link" [routerLink]="['library']">
        <img src="../../../../assets/img/library.png" alt="">
        <h2>Library</h2>
    </div>

</div>