
.link{
    display: flex;
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    align-items: center;
    margin-bottom: 0px;
    cursor: pointer;
}

.link h2{
    padding: 0rem 2rem;
    font-size: 20px;
}

.link img{
    height: 20px;
    width: 20px;
}